* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/background_img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Bungee Spice', sans-serif;
}

h1 {
    font-size: 80px;
    border-radius: 16px;
    padding: 0 16px;
    text-shadow: 6px 6px 8px black;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-shadow: 4px 4px 8px black;
}

.section-canvas {
    position: relative;
    height: 480px;
    width: 720px;
    margin: 80px 0;
}

canvas {
    position: absolute;
    background-color: black;
    border-radius: 16px;
    cursor: pointer;
    z-index: 0;
}

.canvas-border {
    position: absolute;
    top: -56px;
    left: -45px;
    height: calc(100% + 103px);
    width: calc(100% + 92px);
    z-index: 2;
}

.pause-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 1;
}

.pause-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.resume-button {
    width: 200px;
    height: auto;
    transition: 250ms;
    cursor: pointer;
}

.home-button {
    width: 200px;
    height: 160px;
    transition: 250ms;
    cursor: pointer;
}

.resume-button:hover {
    transform: scale(1.05);
}

.home-button:hover {
    transform: scale(1.05);
}

.background-img {
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.btn img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: 250ms;
}

.btn img:hover {
    transform: scale(1.05);
}

.btn img:active {
    transform: scale(1);
}

.d_none {
    display: none !important;
}

.deactive_button {
    opacity: 0.5;
}

.deactive_button:hover {
    transform: scale(1) !important;
}

.rotate-phone-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rotate-phone-screen img {
    width: 600px;
    height: auto;
    margin: 24px 0 16px 0;
}

@font-face {
    font-family: 'Bungee Spice';
    src: url(./fonts/Bungee_Spice/BungeeSpice-Regular.ttf);
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url(./fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

@media (max-width: 728px) {
    canvas {
        width: 100%;
    }

    h1 {
        font-size: 64px;
    }

    h2{
        font-size: 32px;
    }

    .rotate-phone-screen img {
        width: 400px;
        margin: 20px 0 11px 0;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 36px;
        margin: 0;
        padding: 0;
    }

    h2{
        font-size: 19px;
    }

    .rotate-phone-screen img {
        width: 300px;
        margin: 20px 0 11px 0;
    }
}